<mat-sidenav-container class="main-container">

  <mat-toolbar color="primary" role="header">
    <button type="button" class="menuIcon" mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button class="dottedMenuIcon" [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu xPosition="after" yPosition="above" #appMenu>
    <button mat-menu-item> Refresh </button>
    <button mat-menu-item> Log Out </button>
  </mat-menu>


  <mat-sidenav position="start" #sidenav class="opened-sidenav" (click)="sidenav.close()">
    <a routerLink="/client" routerLinkActive="active">
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>client</span>
      </button>
    </a>
    <a routerLink="/clients" routerLinkActive="active">
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>clients</span>
      </button>
    </a>
    <a routerLink="/overview" routerLinkActive="active">
      <button mat-menu-item>overview</button>
    </a>
    <a routerLink="/services" routerLinkActive="active">
      <button mat-menu-item>massage</button>
    </a>
    <a routerLink="/order" routerLinkActive="active">
      <button mat-menu-item>order</button>
    </a>

  </mat-sidenav>

  <div class="main-content">
    <router-outlet></router-outlet>
    <!-- <button mat-fab color="primary" class="fab-button" [matMenuTriggerFor]="jumpMenu"><mat-icon>add</mat-icon></button> -->
    <!-- <mat-menu xPosition="after" yPosition="below" #jumpMenu>
      <button mat-menu-item> Refresh </button>
      <button mat-menu-item> Log Out </button>
    </mat-menu> -->
  </div>

</mat-sidenav-container>







<!--
<div class="row columns">

  <div id="details-container">

    <div class="header blue" (click)='openSection(1)'>NEW CLIENT</div>
    <section *ngIf="section==1">
      <input type="text" id="clients" placeholder="Add new client name" [(ngModel)]="newClientName">
      <button (click)="newOrder()">add new client</button>
    </section>

    <div class="header blue" (click)='openSection(2)'>NEW MASSAGE</div>
    <section *ngIf="section==2">
      <input type="text" id="massageName" placeholder="Add new Massage name" [(ngModel)]="newMassageName">
      <input type="text" id="duration" placeholder="Add new Massage duration" [(ngModel)]="duration">
      <input type="text" id="income" placeholder="Add new Massage income" [(ngModel)]="income">
      <button (click)="newMassage()">add new massage</button>
    </section>

    <div class="header" (click)='openSection(3)'>NEW ORDER</div>
    <section *ngIf="section==3">
      <div class="header">SELECT CLIENT</div>
      <p *ngFor="let client of clients | async" [ngClass]="{'selected': client.id == clientId}" (click)='addValue("clientId",client)'>
        {{client.name}}
      </p>
      <div class="header">SELECT MASSAGE</div>
      <p *ngFor="let massage of massages | async" [ngClass]="{'selected': massage.id == massageId}" (click)='addValue("massageId",massage)'>
        {{massage.name}}
      </p>
      <input type="text" id="orders" placeholder="{{duration}} min." [(ngModel)]="duration">
      <input type="text" id="orders" placeholder="{{income}} Kč" [(ngModel)]="income">
      <button (click)="newOrder()">add new Order</button>
    </section>

    <div class="header pink" (click)='openSection(3)'>ALL ORDERS</div>
    <section *ngIf="section==3">
      <p *ngFor="let order of orders | async">
        {{order.income}} Kč
        <br> {{order.massageName}}
        <br> {{order.clientName}}
        <br> {{order.date | date: 'dd/MM/yyyy HH:mm:ss'}}
      </p>
    </section>

    <div class="header blue" (click)='openSection(5)'>update MASSAGE </div>
    <section *ngIf="section==5">

      <p *ngFor="let massage of massages | async">
        <span *ngIf="selectedUpdate!=massage.id" (click)='selectObject("massage",massage)'>{{massage.name}}</span>
        <span *ngIf="selectedUpdate==massage.id">
      <input type="text" id="massageName"  [(ngModel)]="newMassageName">
      <input type="text" id="duration" [(ngModel)]="duration">
      <input type="text" id="income" [(ngModel)]="income">
             <button (click)='update("massage",massage)'>update</button>
        </span>
      </p>


    </section>

    <div class="header blue" (click)='openSection(6)'>update CLIENT </div>
    <section *ngIf="section==6">
      <p *ngFor="let client of clients | async">
        <span *ngIf="selectedUpdate!=client.id" (click)='selectObject("client",client)'>{{client.name}}</span>
        <span *ngIf="selectedUpdate==client.id">
          <input type="text" id="clients" [(ngModel)]="newClientName">
          <button (click)='update("client",client)'>update</button>
        </span>
      </p>
    </section>

    <div class="header blue" (click)='openSection(7)'>update ORDER </div>
    <section *ngIf="section==7">
       <p *ngFor="let order of orders | async">
        <span *ngIf="selectedUpdate!=massage.id" (click)='selectObject("order",order)'>{{massage.name}}</span>
        <span *ngIf="selectedUpdate==massage.id">




             <button (click)='update("massage",massage)'>update</button>
        </span>
      </p>
    </section>

    <div class="header red" (click)='openSection(8)'>remove MASSAGE </div>
    <section *ngIf="section==8">
      <p *ngFor="let order of orders | async" (click)='addValue("remove",order)'>
        {{order.income}} Kč
        <br> {{order.massageName}}
        <br> {{order.clientName}}
        <br> {{order.date | date: 'dd/MM/yyyy HH:mm:ss'}} </p>
    </section>

    <div class="header red" (click)='openSection(9)'>remove CLIENT </div>
    <section *ngIf="section==9">
      <p *ngFor="let order of orders | async" (click)='addValue("remove",order)'>
        {{order.income}} Kč
        <br> {{order.massageName}}
        <br> {{order.clientName}}
        <br> {{order.date | date: 'dd/MM/yyyy HH:mm:ss'}} </p>
    </section>

    <div class="header red" (click)='openSection(10)'>remove ORDER </div>
    <section *ngIf="section==10">
      <p *ngFor="let order of orders | async" (click)='addValue("remove",order)'>
        {{order.income}} Kč
        <br> {{order.massageName}}
        <br> {{order.clientName}}
        <br> {{order.date | date: 'dd/MM/yyyy HH:mm:ss'}} </p>
    </section>

--
  </div> -->












<!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"  [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form> -->
