<form>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select client" name="client" [(ngModel)]="client" aria-label="Number" matInput [formControl]="clientsControl"
      [matAutocomplete]="clients" required>
    <mat-autocomplete [displayWith]="displayClient" #clients="matAutocomplete">
      <mat-option *ngFor="let client of filteredClient | async" [value]="client">
        {{client.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<!--
<button mat-raised-button color="primary" *ngIf="clientsControl.value &&!durationControl.invalid &&!incomeControl.invalid &&!dateControl.invalid && massagesControl.value"
  (click)="openDialog()">OK</button> -->

