<form>
  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select massage" name="massage" [(ngModel)]="massage" aria-label="Number" matInput [formControl]="massagesControl"
      [matAutocomplete]="massages" required>
    <mat-error *ngIf="massagesControl.invalid">cdcdcd</mat-error>
    <mat-autocomplete [displayWith]="displayMassage" #massages="matAutocomplete">
      <mat-option *ngFor="let massage of filteredMassage | async" [value]="massage">
        {{ massage.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="duration" name="duration" placeholder="Duration" [formControl]="durationControl" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="income" name="income" placeholder="Income" [formControl]="incomeControl">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="text" placeholder="Select client" name="client" [(ngModel)]="client" aria-label="Number" matInput [formControl]="clientsControl"
      [matAutocomplete]="clients" required>
    <mat-autocomplete [displayWith]="displayClient" #clients="matAutocomplete">
      <mat-option *ngFor="let client of filteredClient | async" [value]="client">
        {{client.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea name="note" [(ngModel)]="note" matInput placeholder="Note"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" name="date" [(ngModel)]="myDate" placeholder="Choose a date" [formControl]="dateControl"
      required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </mat-form-field>
</form>

<button mat-raised-button color="primary" *ngIf="clientsControl.value &&!durationControl.invalid &&!incomeControl.invalid &&!dateControl.invalid && massagesControl.value"
  (click)="openDialog()">OK</button>

