<div *ngFor="let client of clients" style="margin-bottom:20px;">
    <mat-card *ngIf="id != client.$key">
        <mat-card-title>
            {{client.name}}
        </mat-card-title>
        <mat-card-content>
            {{client.income}} Kč
            <br> {{client.duration}} min.
        </mat-card-content>
        <button mat-fab style="float:right; margin-top:-75px" color="primary" (click)="edit(client)">Edit</button>
    </mat-card>

    <mat-card *ngIf="id == client.$key">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="newclientName" name="name" placeholder="Name" [formControl]="nameControl" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="income" name="income" placeholder="Income Kč" [formControl]="incomeControl" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="duration" name="duration" placeholder="Duration min." [formControl]="durationControl" required>
            </mat-form-field>
        </mat-card-content>
        <button mat-fab color="primary" style="float:right;" (click)="saveChanges(client)" *ngIf="!nameControl.invalid && !durationControl.invalid && !incomeControl.invalid">Save</button>
        <button mat-fab color="primary" [matMenuTriggerFor]="jumpMenu">Delete</button>
        <button mat-fab color="secondary" style="float:right; margin-right:25px" (click)="discard()">Discard</button>
        <mat-menu xPosition="after" yPosition="below" #jumpMenu>
            <button mat-menu-item> No </button>
            <button mat-menu-item (click)="deleteClient(client)"> Yes </button>
        </mat-menu>
    </mat-card>
</div>


;
<div style="margin-bottom:20px;">
    <mat-card *ngIf="id != 555" style="background:darkorange">
        <mat-card-title>
            Nová masáždcdcdcd
        </mat-card-title>
        <mat-card-content>
            cena
            <br> čas
        </mat-card-content>
        <button mat-fab style="float:right; margin-top:-75px" color="primary" (click)="newclient()">New</button>
    </mat-card>

    <mat-card *ngIf="id == 555" style="background:darkorange">
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="newclientName" name="name" placeholder="Name" [formControl]="nameControl" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="income" name="income" placeholder="Income Kč" [formControl]="incomeControl" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="duration" name="duration" placeholder="Duration min." [formControl]="durationControl" required>
            </mat-form-field>
        </mat-card-content>
        <button mat-fab color="primary" style="float:right;" (click)="saveNew()" *ngIf="!nameControl.invalid && !durationControl.invalid && !incomeControl.invalid">Save</button>
        <button mat-fab color="secondary" (click)="discard()">Discard</button>
    </mat-card>
</div>
