 @import "~@angular/material/prebuilt-themes/indigo-pink.css";


/*  deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css */
 html {
     font-size: 18px;
 }

 body,
 html {
     height: 100%;
     width: 100%;
     padding: 0;
     margin: 0;
 }

 body a {
     text-decoration: none;
     color: black;
 }

 *:focus {
     outline: 0;
 }

 .opened-sidenav {
     width: 220px;
 }

 .main-content {
     height: calc(100vh - 128px);
     margin: 32px;
 }

 .dottedMenuIcon {
     position: absolute !important;
     right: 16px;
 }

 button>img {
     height: 75%;
     /* padding:  */
 }

 .fab-button {
     position: fixed !important;
     right: 32px;
     bottom: 32px;
 }

 .example-form {
     min-width: 150px;
     max-width: 500px;
     width: 100%;
 }

 .example-full-width {
     width: 100%;
 }

 /* .mat-card-header-text {
     width: 100%;
 }

 .mat-card-title {
     font-size: 24px!important;
 }

 .mat-card-subtitle {
     font-size: 22px!important;
 }

 .card {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;    height: 100%;
     margin: auto;
     background: rgba(0, 0, 0, 0.63);
 }

 .insideCard {
     position: absolute;
     height: 50%;
     top: 20px;
     left: 20px;
     bottom: 20px;
     right: 20px;
     margin: auto;
 } */
 /* body {
    background-color: #EBEBEB;
    padding-top: 5em;
}

* {
    font-family: 'Raleway';
}

button {
    background: #008FEF;
    color: white;
    padding: 1.2em;
    width: 300px;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 150px;
}

.selected {
    background: darkorange!important;
}

.header {
    width: 100%;
    text-align: center;
    background-color: lightgreen;
    padding: 15px;
    margin: 5px;
}

section {
    text-align: center;
    margin: 5px;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
}

.pink {
    background: pink
}

.red {
    background: darkred;
}

.blue {
    background: lightblue;
}
input{
    text-align: center
} */