<h2 mat-dialog-title>

  Save me</h2>
<mat-dialog-content>
  <ul>
    <li> {{data.data.clientName}} </li>
    <li>{{data.data.massageName}} </li>
    <li>{{data.data.income}} </li>
    <li>{{data.data.duration}} </li>
    <li>{{data.data.note}} </li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" tabindex="1">No</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" tabindex="-1">YES</button>
</mat-dialog-actions>